[submodule "KinSDK/Dependencies/kin-util-ios"]
	path = KinSDK/Dependencies/kin-util-ios
	url = https://github.com/kinecosystem/kin-util-ios
[submodule "KinSDK/Dependencies/swift-sodium"]
	path = KinSDK/Dependencies/swift-sodium
	url = https://github.com/jedisct1/swift-sodium
